.vscode
.DS_Store

DataLibCode/damaged-helmet
DataLibCode/sponza
DataLibCode/multiple-scenes
DataLibCode/beautiful-game
DataLibCode/orientation
DataLibCode/ue5level
DataLibCode/super-sponza
DataLibCode/debug
DataLibCode/ada
DataLibCode/*.bin
xcode-build
.idea/editor.xml
