[submodule "EngineCode/ThirdParty/SDL"]
	path = EngineCode/ThirdParty/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "EngineCode/ThirdParty/VulkanMemoryAllocator"]
	path = EngineCode/ThirdParty/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "EngineCode/ThirdParty/volk"]
	path = EngineCode/ThirdParty/volk
	url = git@github.com:zeux/volk.git
[submodule "DataLibCode/ThirdParty/assimp"]
	path = DataLibCode/ThirdParty/assimp
	url = git@github.com:assimp/assimp.git
[submodule "EngineCode/ThirdParty/pugixml"]
	path = EngineCode/ThirdParty/pugixml
	url = git@github.com:zeux/pugixml.git
